.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: var(--bg);
  padding: 4rem;
  border-radius: 0.5rem;
  max-width: 100%;
  position: relative;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.15);
  max-height: calc(100vh - 40px);
  overflow: hidden;
  overflow-y: auto;
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
