.baseLink {
  text-decoration: none;
  color: var(--text);
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: 0.4s;
}

.baseLink:hover {
  color: var(--hover);
}

.buttonLink {
  display: block;
  min-width: max-content;
  width: 6.5rem;
  height: 4rem;
  background-color: var(--primary);
  border-radius: 0.8rem;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.buttonLink:hover {
  background-color: var(--hover);
  color: var(--text);
}

.cardLink {
  display: flex;
  flex-direction: column;
  width: 24rem;
  height: 36rem;
  gap: 2rem;
  align-items: center;
  border: 3px solid var(--accent);
  border-radius: 0.5rem;
  background-color: var(--bg-transparent);
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
}

.cardLink:hover {
  transform: scale(1.05);
  color: var(--text);
}
