.base {
  min-width: max-content;
  width: 10rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
}

.base:hover {
  background-color: var(--hover);
}

.plain {
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
}

.plain:hover {
  color: var(--text);
}

.noBg {
  background: none;
  color: var(--primary);
}

.noBg:hover {
  color: var(--color-dark);
}

.baseBg {
  background-color: var(--primary);
  color: var(--text);
}

.errorBg {
  background-color: var(--error);
  color: var(--text);
}

.accentBg {
  background-color: var(--accent);
  color: var(--text);
}

.baseBg:hover,
.errorBg:hover {
  background-color: var(--hover);
}
