.card-wrapper {
  display: flex;
  flex-flow: column wrap;
  width: 24rem;
  height: 49rem;
  justify-content: flex-start;
  gap: 2rem;
  outline: 3px solid #8bcf21;
  border-radius: 5px;
  background-color: rgba(139, 207, 33, 0.5);
  font-size: 1.6rem;
  padding: 1rem 1rem 0 1rem;
}

.card-description {
  display: flex;
  flex-flow: column wrap;
}

.card-img {
  width: 20rem;
  height: 20rem;
  border-radius: 5px;
  background-size: cover;
  align-self: center;
}

.card-list {
  list-style-type: none;
}

.card-title {
  text-align: center;
  padding-bottom: 1rem;
}
