.errorTitle {
  max-width: 25rem;
}

.errorWrapper {
  display: flex;
  flex-direction: column;
  width: 25rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 0.5rem;
  background-color: var(--accent);
  padding: 2rem;
}

.rightPanelDetails {
  top: 5rem;
}
