.cardImg {
  width: 20rem;
  height: 20rem;
  border-radius: 0.5rem;
  background-size: cover;
  align-self: center;
}

.cardTitle {
  margin-bottom: 1rem;
}

.checkbox {
  align-self: flex-end;
}
