:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  --max-width: 1280px;

  --bg: #2f9331;
  --bg-transparent: rgba(139, 207, 33, 0.5);
  --text: #000000;
  --accent: #8bcf21;
  --primary: #477385;
  --hover: #83d2e4;
  --error: #e31d2b;
  --input-search-bg: #e7e0db;
  --loader-rgb: 0 0 0;
}

.dark {
  --bg: #24325fff;
  --bg-transparent: rgba(0, 0, 0, 0.3);
  --text: #e7e0db;
  --accent: #e762d7ff;
  --primary: #526e2dff;
  --hover: #917c5dff;
  --error: #e89242ff;
  --input-search-bg: rgba(0, 0, 0, 0.3);
  --loader-rgb: 231 224 219;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  background-color: var(--bg);
  transition:
    background-color 0.3s,
    color 0.3s;
}

p,
ul,
li,
h1,
h2 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
}

@media (max-width: 768px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 4px;
  }
}
