#root {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  background-color: #2f9331;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

p,
ul,
li,
h1,
h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  color: #8bcf21;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.button {
  min-width: max-content;
  width: 10rem;
  height: 4rem;
  background-color: #477385;
  border-radius: 8px;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
}

.button:hover {
  background-color: #83d2e4;
}

.flexColumn {
  display: flex;
  flex-flow: column wrap;
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
