:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  --color-dark-green: #2f9331;
  --color-transparent-dark-green: rgba(139, 207, 33, 0.5);
  --color-light-green: #8bcf21;
  --color-dark-blue: #477385;
  --color-light-blue: #83d2e4;
  --color-black: #000000;
  --color-light: #e7e0db;
  --color-red: #e31d2b;

  --min-width: 320px;
  --max-width: 1280px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--max-width);
  min-width: var(--min-width);
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 2rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  background-color: var(--color-dark-green);
}

p,
ul,
li,
h1,
h2 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
}
