.aboutWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin: auto;
}
.description {
  width: 50%;
  text-align: center;
}

.aboutAuthor,
.aboutCourse {
  display: flex;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
  transition: 0.4s;
}

.link:hover {
  color: var(--hover);
}
