.searchForm {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 21rem;
}
